useDynLib(mastif, .registration = TRUE)

importFrom("Rcpp", "evalCpp")
importFrom("RANN", "nn2")
importFrom("robustbase", "fullRank")
importFrom("xtable", "xtable")
importFrom("corrplot", "corrplot")
importFrom("repmis", "source_data")
importFrom("stringr", "str_count")
importFrom("stringi", "stri_locate_first_regex")
importFrom("grDevices", "pdf", "rgb", "dev.copy2pdf","graphics.off")
importFrom("grDevices", "col2rgb", "colorRampPalette", "dev.off", "dev.list")
importFrom("graphics", "barplot", "bxp", "strheight","strwidth", "segments")
importFrom("graphics", "abline", "arrows", "Axis", "axis", "boxplot", 
           "hist", "legend", "lines", "mtext", "par", "plot", "points", "polygon",
            "rect", "symbols", "text", "title", "contour", ".filled.contour")
importFrom("stats", "as.formula", "arima", "binomial", "contrasts", "cor", "cov", "dbeta",  
           "dbinom", "density", "dnorm", "dpois", "formula", "glm", "lm", 
           "model.frame", "model.matrix", "pnorm", "ppois", "predict", "qbinom",
           "qnorm", "qpois", "quantile", "rbinom", "rexp", "relevel", "rgamma", 
            "rnorm", "rpois", "runif", "runmed", "sd", "spectrum",
           "terms", "toeplitz", "ts", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", 
           "read.table", "read.csv", "write.table")
importFrom("robustbase", "fullRank")
export(mastif, mastMap, mastPlot, mastSim, mastFillCensus, mastClimate, mastPriors, 
       mastSpectralDensity, mastVolatility)
S3method(print, mastif)
S3method(summary, mastif)

